<div class="container-fluid" style="background-image: linear-gradient(145deg, black 20%,white 20%);">
    <div class="row">
        <div class="col-md-6 pt-2 pb-2" style="height: 80px;">
            <img src="https://a2zithub.org/student/uploads/166885394139593275.png"
                style="height: 100%;margin-top:10px ; cursor: pointer;" routerLink="/">
        </div>
        <div class="col-md-6 pt-2 pb-2 text-right" style="line-height: 80px;" *ngIf="!token">
            <button class="btn btn-dark mr-3" routerLink="/login">Login</button>
            <button class="btn btn-dark mr-3" routerLink="/register">Register</button>
        </div>
        <div class="col-md-6 pt-2 pb-2 text-right" style="line-height: 80px;" *ngIf="token">
            <button class="btn btn-dark mr-3 hide_print" (click)="logout()">Logout</button>
            <button class="btn btn-dark mr-3 hide_print" routerLink="/register">My Account</button>
            <button class="btn btn-dark mr-3 hide_print" routerLink="/myorder">My Order</button>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="" routerLink="/">Home </a>
            </li>
            <li class="nav-item active" *ngFor="let row of catlist;">
                <a class="nav-link" href="" routerLink="/cat-products/{{row.cat_id}}/{{row.cat_name}}">{{row.cat_name}} </a>
            </li>

        </ul>
        <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-dark" routerLink="/cart">Cart</button>
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </div>
    </div>
</nav>