<app-navbar></app-navbar>
<form [formGroup]="registerForm" (ngSubmit)="registerNow()">
    <div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 border">
            <div class="p-3">
                <h5>New User</h5>
                <h1>Register Here</h1>
                <br>
                <input type="text" placeholder="Enter Your Name" formControlName="user_name" class="form-control"
                style="border-radius: 0px;border: 1px solid black;">
                <br><br>
                <input type="text" placeholder="Enter Your Mobile" formControlName="user_mobile" class="form-control"
                    style="border-radius: 0px;border: 1px solid black;">
                    <br><br>
                    <input type="text" placeholder="Enter Your Email" formControlName="user_email" class="form-control"
                    style="border-radius: 0px;border: 1px solid black;">
                    <br><br>
                    <input type="text" placeholder="Enter Your Password" formControlName="user_password" class="form-control"
                    style="border-radius: 0px;border: 1px solid black;">
                 <br><br>
                 <button class="btn btn-dark btn-lg" style="border-radius: 0px;">Register Now</button>
                 <br><br>

            </div>
        </div>
    </div>
    </div>
</form>
<app-footer></app-footer>